/* TODO: Add a rule for images, so they never exceed their container's width. */
.icon-home, .icon-twitter, .icon-menu, .icon-github {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}
#main-section {
  min-height: 62vh;
  background-color: grey;
}

hr {
  margin: 1em;
  width: 80%;
}

/*=====TEXT STYLES=====*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*=====LINK STYLES=====*/

a, a:link, a:active {
  text-decoration: none;
  color: black;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
