.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
.rotate-right {
  transform: rotate(45deg);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


@media only screen and (orientation: landscape){

}
