.site-header {
  background: #FFEAAA;
  min-height: 30%;
}

/* REVIEW: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}
.heading-group-h1 h2{
  font-family: "Comic Sans MS";
  font-style: italic;
}

#about {
  padding: 3%;
}


footer {
  text-align: center;
  background-color: black;
  color: white;
}
/*.heading-group-h1 h2 {
  font-size: 100%;
}*/

/* TODO: Add styles for the icon-menu class. It should be bigger, and off to the right. */
.icon-menu {
  float:right;
  font-size: 2em;
  margin-right: 3%;
  margin-top: 3%;

}
.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  padding: 0;
  list-style: none;
  clear: both;
  margin: none;
  padding: none;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 511px){
   .icon-menu {
     display: none;
   }
   .main-nav ul{
     margin: none;
     padding: none;
   }
   .main-nav li {
     display: inline-block;
     margin-left: 5%;
     font-size: 120%;
   }
   #about h1 {
     font-size: 150%;
   }
 }

 @media only screen and (max-width: 510px) {
   .heading-group-h1 h2 {
     font-size: 100%;
   }
   .main-nav ul {
     display: none;
     margin: none;
     padding: none;
   }
   .main-nav li {
     border-bottom: 1px solid #ccc;
     font-size: 120%;
     margin-left: 2%;
     margin-right: 2%;
   }
   #about h1 {
     font-size: 100%;
   }
 }



 /*TODO: Now add styles for how things should look on a larger screen:
         - Hide the hamburger.
         - Main should be all on one row, with padding spaced better for a larger screen.
         - Just, ya know, try to make it look good! */
