.site-header {
  /*display: inline;*/
  min-width: 100%;
  min-height: 20%;
}

.logo-icon {
  float: left;
  max-width: 5%;
  padding: 1%;
}

/*.logo-sub {
  margin-left: 2%;
  radius: 4px;
}*/

.main-nav, .social-media-nav {
  display: inline-block;
  /*margin-left: 2%;*/
  line-height: 2;

}
.main-nav li, .social-media-nav li {
  list-style: none;
  display: inline-block;
  max-height: 40%;
  font-size: 150%;
  padding-left: 10px;
  padding-right: 10px;
}
.tab a {
  font-size: 90%;
}
.main-nav {
  float: left;
  margin-left: 10px;
}

.main-nav ul {
  display: block;
}

.social-media-nav {
  float: right;
}
.icon-menu {
  font-size: 250%;
}

#opening-line {
  font-family: fantasy;
  text-align: center;
}


footer {
  text-align: center;
  background-color: black;
  color: white;
}

.template {
  display: none;
}

 @media only screen and (min-width: 415px){
    .icon-menu {
      display: none;
    }
  }

  @media only screen and (max-width: 414px) {
    .logo-icon {
      max-width: 18%;
    }

    .main-nav li {
      display: none;
      margin: none;
      padding: none;
      border-bottom: 1px solid #ccc;
      font-size: 120%;
      /*float: left;*/
      /*list-style: none;*/
    }

    .social-media-nav ul {
      display: none;
    }
    #opening-line {
      font-size: 80%;
    }
    footer {
      font-size: 80%;
    }
  }
